.message{
    max-width: 60%;
    padding: 1em;
    border: 1px solid ;
    margin: 1.2em auto 0;
    text-align: center;
    border-radius: 9px;
}
.success{
    color: rgb(0, 131, 0);
    background-color: rgb(189, 247, 189);
    border: rgb(136, 255, 136);
}
.error{
    color: rgb(153, 1, 1);
    background-color: rgb(255, 199, 199);
    border: rgb(231, 6, 6);
}